@media only screen and (min-width: 1170px) {
    #timeline {
        margin-bottom: 3em;
        margin-top: 3em;
    }
    #timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .timeline-img {
        width: 60px;
        height: 60px;
        line-height: 60px;
        left: 50%;
        margin-left: -30px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .timeline-block {
        margin: 4em 0;
    }
    .timeline-block:first-child {
        margin-top: 0;
    }
    .timeline-block:last-child {
        margin-bottom: 0;
    }
    .timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .timeline-content .read-more {
        float: left;
    }
    .timeline-content .date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
    }
    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .timeline-block:nth-child(even) .timeline-content .read-more {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content .date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: bounce-2 0.6s;
        -moz-animation: bounce-2 0.6s;
        animation: bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
        -webkit-animation: bounce-2-inverse 0.6s;
        -moz-animation: bounce-2-inverse 0.6s;
        animation: bounce-2-inverse 0.6s;
    }
}

@media (max-width: 479px) {
    .timeline-content {
        margin: 0 10px 5px 50px;
    }
}

@media (max-width: 768px) {
    .timeline-content {
        margin: 0 10px 5px 50px;
    }
}

@media (max-width: 800px) {
    .timeline-content {
        margin: 0 10px 5px 50px;
    }
}